<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="db" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup82_test2;            User ID=igroup82;Password=igroup82_18350" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ProjectsWSAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Service" />
      </service>
      <service name="ProjectsWS">
        <endpoint address="" behaviorConfiguration="ProjectsWSAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ProjectsWS" />
      </service>
    </services>
  </system.serviceModel>
</configuration>