
.card {
    text-align: right;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.navbar-custom{


    min-height:73px;
}

button.button-menu-mobile.open-left.waves-light.waves-effect {
    background-color: #6c757d;
}

nav.navbar-custom {
    background-color: #6c757d;
}

.topbar .topbar-left {
    background-color: #6c757d;
}

.paginate_button.page-item.previous.disabled {
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
}

.paginate_button.page-item.next.disabled {
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
}

.form-control[disabled], fieldset[disabled] .form-control {
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
}